@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Marko+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  background-color: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

fovea-slideshow {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
}
fovea-slideshow[transition] {
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow[black='true'] {
  opacity: 0;
}
fovea-slideshow[saturate='true'] img {
  -webkit-filter: saturate(2);
}
fovea-slideshow[supersaturate='true'] img {
  -webkit-filter: saturate(4);
}
fovea-slideshow[saturate='true'][supersaturate='true'] img {
  -webkit-filter: saturate(8);
}
fovea-slideshow[shownotes='true'] slide notes {
  bottom: 0%;
}
fovea-slideshow[shownotes='false'] slide notes {
  bottom: -25%;
}
fovea-slideshow[background="white"] slide {
  background-color: #fff;
}
fovea-slideshow[background="grey"] slide {
  background-color: #616161;
}
fovea-slideshow[background="red"] slide {
  background-color: #c62828;
}
fovea-slideshow[background="blue"] slide {
  background-color: #1565C0;
}
fovea-slideshow[background="green"] slide {
  background-color: #2E7D32;
}
fovea-slideshow .slideIndicator {
  display: block;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
fovea-slideshow .slideIndicator div {
  background-color: rgba(255, 255, 255, 0.3);
  width: 0%;
  height: 100%;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow .clock, fovea-slideshow .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  transform: translateZ(0);
  pointer-events: none;
}
fovea-slideshow .clock p, fovea-slideshow .timer p {
  font-size: 16vw;
  color: #fff;
  opacity: 0;
  transform: translateY(10vh);
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow .clock[visible="true"], fovea-slideshow .timer[visible="true"] {
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: all;
}
fovea-slideshow .clock[visible="true"] p, fovea-slideshow .timer[visible="true"] p {
  opacity: 1;
  transform: translateY(0);
}
fovea-slideshow .lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: translateZ(0px);
  pointer-events: none;
}
fovea-slideshow .lightbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow .lightbox img {
  opacity: 0;
  border-radius: 4px;
}
fovea-slideshow .lightbox img[visible="true"] {
  opacity: 1;
}
fovea-slideshow .lightbox img[animate="true"] {
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow .lightbox[iszoom="true"] {
  pointer-events: all;
}
fovea-slideshow .lightbox[iszoom="true"]::before {
  opacity: 1;
}
fovea-slideshow slide {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition: inherit;
}
fovea-slideshow slide[visible="true"] {
  opacity: 1;
}
fovea-slideshow slide[visible="true"][focus="false"] notes {
  opacity: 0;
}
fovea-slideshow slide[focus="false"] {
  pointer-events: none;
}
fovea-slideshow slide[background="white"] {
  background-color: #fff;
}
fovea-slideshow slide[background="grey"] {
  background-color: #616161;
}
fovea-slideshow slide[background="red"] {
  background-color: #c62828;
}
fovea-slideshow slide[background="blue"] {
  background-color: #1565C0;
}
fovea-slideshow slide[background="green"] {
  background-color: #2E7D32;
}
fovea-slideshow slide::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: normal;
  background: radial-gradient(circle closest-corner at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.4));
}
fovea-slideshow slide .slideBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}
fovea-slideshow slide content {
  display: block;
  position: relative;
  z-index: 1;
  padding: 2em;
}
fovea-slideshow slide content h1 {
  text-align: center;
  font-size: 2em;
  margin: 0;
  margin-bottom: 1em;
  font-family: 'Marko One', serif;
}
fovea-slideshow slide content h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  opacity: 0.8;
  font-family: 'Marko One', serif;
}
fovea-slideshow slide content p {
  margin-bottom: 0.7em;
}
fovea-slideshow slide content images {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
}
fovea-slideshow slide content images > div {
  position: relative;
  flex: 1;
  margin: 0 1%;
  min-height: 10px;
  max-width: 50%;
  z-index: 0;
  background-color: #fff;
}
fovea-slideshow slide content images > div::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -10;
  transform: scale(0.9);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow slide content images > div[zoomhide="true"] {
  opacity: 0;
}
fovea-slideshow slide content images > div[canzoom="true"]:hover {
  cursor: pointer;
}
fovea-slideshow slide content images > div[canzoom="true"]:hover::before {
  opacity: 1;
  transform: scale(1);
}
fovea-slideshow slide content images > div img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 2px;
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
fovea-slideshow slide notes {
  display: block;
  position: absolute;
  z-index: 1000;
  height: 20%;
  width: 90%;
  margin: 0 5%;
  padding: 16px 32px;
  color: #212121;
  font-family: 'Indie Flower', cursive;
  background-color: #fff;
  background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.5);
}

@media print {
  body, html {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  body {
    font-size: 28px;
  }

  fovea-slideshow {
    display: block;
    position: relative;
    overflow: visible;
  }
  fovea-slideshow slide {
    display: block;
    position: relative !important;
    opacity: 1 !important;
    page-break-before: always;
    page-break-inside: avoid;
  }
  fovea-slideshow slide content {
    padding: 1em;
  }
  fovea-slideshow slide content h1 {
    margin-bottom: 0.5em;
  }
  fovea-slideshow slide video {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }
  fovea-slideshow .slideIndicator {
    display: none;
  }
}
